.grey-text {
    color: grey;
}

.white-text{
    color: antiquewhite;
    font-size: xx-large;
}

.captions {
    color: lightgray;
    font-style: italic;
}

nav a {
    font-family: 'Roboto Slab', serif;
    color: aqua;
}